body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header, .greeting-container {
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    flex-grow: 1;
    padding-left: 200px;
}

.right-links {
    display: flex;
    gap: 15px;
    padding-right: 200px;
    
}

ul {
    list-style-type: none;
     padding-inline-start: 5px;
}

a {
    text-decoration: none;
}

.greeting-container,.call-to-action-container, .author, .quote {
    padding-left: 200px;
    padding-right: 200px;
}

.website-greeting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}

.img-holder {
    flex-basis: 500px;
    height: 300px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: auto;
}
a, .hero-text, button, .action-text, .img-description {
    font-size: 18px;
        color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    width: 100px;
    height: 50px;;
}
.hero-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    background: #1F2937;
    color: #E5E7EB;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container {
    background-color: #3882F6;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.divider {
    display: flex;
}

.call-btn {
    border: #F9FAF8 solid 2px;
}

h4 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 20px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0px;

}
.author {
    align-self: flex-end;
}

.action-text {
    margin-right: auto;
}

.random-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.random-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    border: #3882F6 4px solid;
    height: 75px;
    width: 75px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}